.input-extra {
    padding: 8px 11px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 4px;
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    &--basic {
        background-color: #fff;
    }
}